@charset "UTF-8";

body { background-color: white; font-size: 16px; line-height: 1.5em; color: #333; }

ul.nav-main li a { font-size: 1.4rem }
html.sidebar-light:not(.dark) ul.nav-main li a { color: #555; }
ul.nav-main li .nav-children li.nav-active > a { color: #0088cc; }

.header .logo img { opacity: 0.8; margin: 0 }

.header #talks-link { float: right; margin: 16px 16px 0; }

.header .social-icons {
    float: right;
    margin: 12px 12px 0;
}

.social-icons li {
    display: inline-block;
    margin-left: 5px;
    padding: 0;
    border-radius: 20%;
    overflow: visible;
}

.social-icons li a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #f6f6f6;
    border-radius: 20%;
    display: block;
    height: 32px;
    line-height: 32px;
    width: 32px;
    text-align: center;
    color: #777 !important;
    text-decoration: none;
    font-size: 1.5em;
    vertical-align: middle;
}

.social-icons li:hover a { background: #0088cc; color: #FFF !important; }

.page-header .breadcrumbs { margin-left: 15px }

#main-content { max-width: 900px; }

.nav-next {
    background: #F7F7F7;
    border-left: 3px solid #0088cc;
    margin-top: 40px;
    padding: 0.5em 15px;
}
.nav-next p { display: inline; color: #0c323b; font-style: italic; }

pre { margin: 1.5em 0; }
pre code { font-size: 14px; line-height: 1.4em; color: #458 }

.toc {
    margin-top: 1em;
    padding: 1em;
    line-height: 2em;
    border: 1px solid #eee;
    border-radius: 1em;
    background-color: #F7F7F7;
}
.toc ul { list-style-type: none }
.toc > ul { list-style-type: decimal }
.toc > ul > li  { margin-bottom: 0.5em }
.toc > ul > li > ul { list-style-type: none }
.toc > ul > li > ul li { text-indent: -2.3em }
.toc > ul > li > ul > li { text-indent: -1.8em }
.toc > ul > li > ul li:before { content: ">  "; font-weight: bold }

dl, dt { margin-top: 1em; line-height: inherit }
dd { margin-left: 1em; line-height: inherit }

h1 { font-size: 4.2rem; margin-top: 0 }
h2 { margin-top: 40px }
h3 { margin-top: 30px }

ul, ol { margin-bottom: 10px }

p > code { font-weight: bold; background-color:#f8f8f8; padding: 0 2px; color: #458; }

/* header anchors */

a.anchor .anchor-link:before {
    content: "\f097";
    font-size: 16px;
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1.2;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 > a.anchor, h2 > a.anchor, h3 > a.anchor, h4 > a.anchor, h5 > a.anchor, h6 > a.anchor {
    visibility: hidden;
    position: absolute;
    display: block;
    width: 30px;
    margin-left: -30px;
    padding-right: 3px;
    text-align: right;
    text-decoration: none;
}

h1:hover > a.anchor, h2:hover > a.anchor, h3:hover > a.anchor, h4:hover > a.anchor, h5:hover > a.anchor, h6:hover > a.anchor {
    visibility: visible;
    color: inherit;
    text-decoration: none;
}

table { margin: 1em auto; }
table th { font-weight: bold; padding: 8px; }
table td { padding: 8px; border-top: 1px solid #ddd; }

img { max-width: 100%; margin: 1em 0; }
p.centered { text-align: center }

/*************************** PAGES **************************/

#main-index .header .logo { opacity: 0.32; }
#main-index h1:first-of-type { display: none; }
#main-index .content-body #main-content > p:first-of-type img { margin-bottom: 2em }